In [ ]:
import numpy as np
import pandas as pd

In [77]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [153]:
df = pd.read_csv('/content/independent-house - independent-house.csv')

In [154]:
df.shape

(1095, 21)

In [155]:
df.head()

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724
1,5 Bedroom House for sale in Sector 21A Faridabad,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,E69288322
2,10 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/10-bhk-bedroom-indepen...,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",F69536898
3,21 Bedroom House for sale in Sector 54 Gurgaon,https://www.99acres.com/21-bhk-bedroom-indepen...,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",R69483164
4,12 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/12-bhk-bedroom-indepen...,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",M69381272

In [156]:
df.drop(index=[
    60,61,62,63,64,65,66,67,68,69,70,71,72,178,179,
    180,181,182,183,184,185,186,187,188,189,190,191,
    192,193,194,195,196,197,198,199,353,354,355,356,357,
    358,359,360,361,362,363,364,365,366,367,368,369],
        inplace=True)

In [158]:
df.drop(index=[
    1091,1092,1093,1094],
        inplace=True)

In [159]:
df.shape

(1039, 21)

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1039 entries, 0 to 1090
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1039 non-null   object
 1   link             1039 non-null   object
 2   society          453 non-null    object
 3   price            967 non-null    object
 4   rate             1000 non-null   object
 5   area             1039 non-null   object
 6   areaWithType     986 non-null    object
 7   bedRoom          986 non-null    object
 8   bathroom         986 non-null    object
 9   balcony          986 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          1030 non-null   object
 12  noOfFloor        966 non-null    object
 13  facing           674 non-null    object
 14  agePossession    986 non-null    object
 15  nearbyLocations  913 non-null    object
 16  description      1035 non-null   object
 17  furnishDetails   742 non-null    object
 18  features         674 non-null    object
 19  rating           907 non-null    object
 20  property_id      1035 non-null   object
dtypes: object(21)
memory usage: 178.6+ KB

In [161]:
df.duplicated().sum()

np.int64(13)

In [162]:
df.drop_duplicates(inplace = True)

In [163]:
df.duplicated().sum()

np.int64(0)

In [164]:
# Remove unwanted Columns

df = df.drop(columns=['link','property_id'])

In [165]:
df.head()

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [166]:
# rename columns
df.rename(columns={'rate':'price_per_sqft'},inplace=True)

In [104]:
df['society'].value_counts()

society
Emaar MGF Marbella                                   26
International City by SOBHA Phase 2                  26
Vipul Tatvam Villa                                   24
International City by Sobha Phase 1                  23
Unitech Uniworld Resorts                             13
Unitech Espace                                       11
DLF City Plots Phase 2                               11
DLF City Plots                                       11
Eldeco Mansionz                                       9
Bptp Visionnaire                                      8
Not Applicable                                        7
Uppal Southend4.0 ★                                   7
Ansals Palam Vihar                                    6
Sushant Lok 1 Builder Floors                          6
Experion Windchants3.8 ★                              5
DLF City Phase 1                                      5
Ansal Sushant Lok Plots4.1 ★                          4
Unitech Aspen Greens                                  4
DLF Alameda                                           4
Vatika India Next4.1 ★                                4
nul                                                   4
Puri Diplomatic Greens4.0 ★                           3
DLF City Plots Phase 3                                3
Anant Raj Estates                                     3
Central Park Flower Valley                            3
Housing Board Colony                                  3
SS Aaron Ville                                        3
Vatika Signature Villas                               3
Eros Rosewood Villas                                  3
BPTP Astaire Gardens3.7 ★                             3
Unitech Nirvana Birch Court                           3
Ansals Florence Villa                                 3
Eros Rosewood City4.0 ★                               3
Malibu Towne                                          3
Palam Vihar Extension West Zone RWA                   3
DLF New Town Heights 24.0 ★                           3
Rattan Garden                                         3
Sector 14 RWA                                         3
Tata Primanti4.1 ★                                    3
Unitech Deerwood Chase                                2
shivpuri                                              2
Project Housing Board Colony                          2
Project Mianwali Colony                               2
Bestech Park View Ananda4.2 ★                         2
Spaze Privy3.9 ★                                      2
Emaar Emerald Hills4.1 ★                              2
Suncity Essel Towers4.2 ★                             2
Ansal API Esencia3.7 ★                                2
Luxury DLF City Floors                                2
Saksham Welfare Association                           2
Unitech Palms South City 1                            2
BPTP Pedestal                                         2
RWA Sector 46                                         2
Emaar The Palm Springs                                2
Suncity Township4.1 ★                                 2
Nirvana Cedar Crest                                   2
SS Hibiscus                                           2
Silverglades Tarudhan Valley Golf Resort              2
Ardee City3.8 ★                                       2
Hans Enclave                                          2
Satya The Hermitage3.5 ★                              2
Sobha City                                            2
IFFCO Nagar and 17B RWA                               2
Bhim Garh Kheri                                       2
Sector 38 RWA                                         2
Unitech Escape3.8 ★                                   2
ATS Tourmaline3.9 ★                                   1
house number B-34                                     1
Rajendra Park Gurgaon                                 1
DLF Gardencity Enclave                                1
Surat nagar phase 2                                   1
My Home                                               1
Signature Global Park4.0 ★                            1
Sector-17C                                            1
huda sector-56 gurgaon                                1
private house                                         1
Grover Homes Sec 4                                    1
sector 37                                             1
FLOOR WISE DESIGNER KOTHI                             1
DLF New Town Heights3.7 ★                             1
All Punjabi Welfare Association                       1
Ansal Heights3.2 ★                                    1
Ninex City                                            1
rajendra park sec 105                                 1
HUDA Ashok Vihar Phase 13.9 ★                         1
Ashok Vihar Phase 3 Gurgaon                           1
Farrukhnagar                                          1
Prem Kunj                                             1
secter 16a daultabad faridabad house no 313           1
Bhawani enclave                                       1
Ansal Celebrity Homes                                 1
Shri Shyam Residency                                  1
HUDA Housing Board Colony4.1 ★                        1
Tulip Yellow                                          1
shree krishna homes                                   1
Laxmi Garden Sector-11                                1
ROW HOUSE                                             1
Jacobpura                                             1
Indiabulls Centrum Park3.7 ★                          1
Krishna Palace                                        1
Huda Flats                                            1
Naman Residency                                       1
Madan puri                                            1
Smart World Gems                                      1
Tulip Ivory3.5 ★                                      1
MANOHAR NAGAR                                         1
Vatika Sovereign Next                                 1
DLF The Grove                                         1
Surendra Homes Dayanand Colony                        1
RK Excelo                                             1
Anand Garden, Sector-105                              1
Jacobpura Gurugram                                    1
Hero Homes                                            1
Ganpati Heights Apartment                             1
Huda Plots                                            1
DLF Garden City Floors                                1
Emaar MGF The Palm Drive4.1 ★                         1
Anamika Enclave                                       1
bhim nagar, sector 6                                  1
DLF The Arbour                                        1
Om Nagar, Sector-11                                   1
Suncity Avenue 76                                     1
SS Omnia                                              1
Anshul                                                1
Sare Crescent Parc Royal Greens Phase 1               1
Greenopolis                                           1
Vipul World3.9 ★                                      1
Nirmal Enclave, Maruti Kunj Road                      1
Ansal Esencia Sovereign Floors                        1
Raj Villas                                            1
Shivaji Nagar Residential                             1
jacob pura                                            1
mahavir pura                                          1
Bhim Nagar Society                                    1
Sai Kripa Floors 5                                    1
DLF City Plot Phase 4                                 1
Signature Global City 92                              1
mian wali                                             1
HUDA Plot Sector 38                                   1
nirvana country                                       1
Landmark House                                        1
Nitin Vihar                                           1
Sector 15 Part 2 RWA                                  1
cloudnine cottages                                    1
u block dlf phase 3 road no 21                        1
Ashok vihar phase III Extension                       1
Ansal                                                 1
Adani Brahma Samsara4.2 ★                             1
Sheetla Enclave                                       1
DLF City Plot Phase 3                                 1
Signature Global City 63A                             1
rattan vihar rajendra park                            1
sneh vihar                                            1
Unitech South City 23.8 ★                             1
Smart World Orchard                                   1
Ansal Florence Super                                  1
Ireo Victory Valley4.1 ★                              1
Ansal API Spanish Court                               1
4S Aradhya Homes                                      1
Birla Navya                                           1
Central Park Flower Valley Cerise Floors              1
DLF City Plots Phase 4                                1
Kothi                                                 1
Ansal Sushant Lok                                     1
Central Park                                          1
Signature Global City                                 1
DLF Floors Phase 3                                    1
Ansal Sushant Residency                               1
DLF South City 1                                      1
Ireo Victory Valley4.0 ★                              1
Independent House Sector 45                           1
Vatika The Seven Lamps3.8 ★                           1
Unitech Greenwood City3.6 ★                           1
Nirvana Country                                       1
Signature Global City 81                              1
Satya The Legend3.8 ★                                 1
DLF Pink Town House4.0 ★                              1
Vatika Independent Floors3.8 ★                        1
Arjun Marg/ Sector- 26 Phase- 1/ Golf Course Road     1
The Laburnum                                          1
Ansal Sushant Lok 2                                   1
Sector 57 Huda                                        1
Godrej Meridien                                       1
Huda                                                  1
Huda Floor                                            1
Name: count, dtype: int64

In [105]:
df['society'].value_counts().shape

(185,)

# We cant work with that much society --> so reduce it

In [167]:
import re

In [168]:
# first removing that rating and star mark from rating

df['society'] = df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★','',str(name)).strip()).str.lower()

In [169]:
df['society'] = df['society'].str.replace('nan','independent')

In [170]:
df['society'].shape

(1026,)

In [117]:
df.head(2)

,property_name,society,price,rate,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [118]:
df['price'].value_counts()

price
3.5 Crore      19
5.5 Crore      17
6.5 Crore      16
6 Crore        14
5 Crore        13
8 Crore        13
50 Lac         13
75 Lac         13
70 Lac         13
4.5 Crore      13
7 Crore        12
8.5 Crore      12
85 Lac         12
1.5 Crore      11
4 Crore        11
2.5 Crore      10
2.25 Crore     10
45 Lac         10
60 Lac         10
9 Crore        10
10 Crore       10
90 Lac         10
12 Crore        9
2 Crore         9
1.1 Crore       9
9.5 Crore       9
1.7 Crore       9
80 Lac          9
1 Crore         8
4.6 Crore       8
11 Crore        8
6.75 Crore      8
1.6 Crore       8
1.2 Crore       7
1.35 Crore      7
40 Lac          7
3.75 Crore      7
1.3 Crore       7
12.5 Crore      7
55 Lac          7
65 Lac          7
95 Lac          7
4.25 Crore      6
13.5 Crore      6
2.1 Crore       6
3.25 Crore      6
10.5 Crore      6
6.25 Crore      6
5.7 Crore       6
3.6 Crore       6
2.75 Crore      6
1.45 Crore      6
7.5 Crore       6
16 Crore        6
2.95 Crore      6
1.15 Crore      6
3 Crore         5
1.25 Crore      5
1.8 Crore       5
7.25 Crore      5
38 Lac          5
4.75 Crore      5
15 Crore        5
35 Lac          5
5.6 Crore       5
2.8 Crore       5
18 Crore        4
9.25 Crore      4
5.8 Crore       4
13 Crore        4
3.3 Crore       4
4.35 Crore      4
5.75 Crore      4
1.4 Crore       4
1.65 Crore      4
11.5 Crore      4
3.2 Crore       4
37 Lac          4
4.7 Crore       4
17 Crore        4
6.8 Crore       4
2.4 Crore       4
42 Lac          4
8.25 Crore      4
5.25 Crore      4
20 Crore        3
1.95 Crore      3
4.45 Crore      3
62 Lac          3
5.65 Crore      3
82 Lac          3
2.2 Crore       3
6.95 Crore      3
3.85 Crore      3
1.55 Crore      3
2.3 Crore       3
3.1 Crore       3
1.85 Crore      3
92 Lac          3
5.15 Crore      3
32 Lac          3
34 Lac          3
49 Lac          3
1.16 Crore      3
19 Crore        3
2.9 Crore       3
7.35 Crore      3
1.9 Crore       3
4.3 Crore       3
3.4 Crore       3
8.4 Crore       3
7.2 Crore       3
6.4 Crore       3
11.95 Crore     2
1.05 Crore      2
14 Crore        2
11.25 Crore     2
6.3 Crore       2
30 Lac          2
10.45 Crore     2
66 Lac          2
36 Lac          2
26 Crore        2
11.75 Crore     2
8.49 Crore      2
2.55 Crore      2
3.55 Crore      2
3.15 Crore      2
9.9 Crore       2
15.5 Crore      2
58.25 Lac       2
2.15 Crore      2
67 Lac          2
3.05 Crore      2
1.75 Crore      2
48 Lac          2
10.85 Crore     2
4.95 Crore      2
58 Lac          2
7.1 Crore       2
19.5 Crore      2
3.65 Crore      2
10.55 Crore     2
3.35 Crore      2
89 Lac          2
3.51 Crore      2
6.6 Crore       1
6.2 Crore       1
5.9 Crore       1
8.8 Crore       1
1.87 Crore      1
4.12 Crore      1
5.35 Crore      1
5.85 Crore      1
7.05 Crore      1
2.7 Crore       1
1.04 Crore      1
10.75 Crore     1
61 Lac          1
5.3 Crore       1
18.25 Crore     1
9.55 Crore      1
2.35 Crore      1
8.6 Crore       1
4.99 Crore      1
1.18 Crore      1
9.8 Crore       1
15.1 Crore      1
9.01 Crore      1
9.85 Crore      1
2.68 Crore      1
8.7 Crore       1
15.5 Lac        1
7.49 Crore      1
55.11 Lac       1
1.07 Crore      1
68 Lac          1
4.65 Crore      1
6.1 Crore       1
1.72 Crore      1
52 Lac          1
78 Lac          1
1.52 Crore      1
2.58 Crore      1
8.95 Crore      1
13.2 Crore      1
51 Lac          1
53 Lac          1
63 Lac          1
7.69 Crore      1
22 Lac          1
7.5 Lac         1
3.12 Crore      1
11.3 Crore      1
3.69 Crore      1
4.02 Crore      1
3.93 Crore      1
29 Lac          1
3.08 Crore      1
18 Lac          1
24 Lac          1
98 Lac          1
83 Lac          1
7.99 Crore      1
12.39 Crore     1
65.8 Lac        1
18.02 Crore     1
96 Lac          1
13 Lac          1
69 Lac          1
2.43 Crore      1
74 Lac          1
3.09 Crore      1
44 Lac          1
47.5 Lac        1
59 Lac          1
1.39 Crore      1
3.87 Crore      1
2.6 Crore       1
1.34 Crore      1
46 Lac          1
9.54 Crore      1
14.75 Crore     1
8.1 Crore       1
27 Lac          1
24 Crore        1
7.46 Crore      1
17.3 Crore      1
18.9 Crore      1
47 Lac          1
71 Lac          1
52.5 Lac        1
1.44 Crore      1
3.71 Crore      1
5.4 Crore       1
5.2 Crore       1
42.75 Lac       1
22 Crore        1
4.15 Crore      1
8.9 Crore       1
4.49 Crore      1
8.81 Crore      1
6.81 Crore      1
59.95 Lac       1
3.99 Crore      1
18.5 Crore      1
27.5 Crore      1
8.31 Crore      1
6.21 Crore      1
1.83 Crore      1
5.1 Crore       1
10.56 Crore     1
5.46 Crore      1
2.01 Crore      1
3.9 Crore       1
5.88 Crore      1
52.75 Lac       1
12.25 Crore     1
46.75 Lac       1
9.4 Crore       1
10.3 Crore      1
8.45 Crore      1
6.15 Crore      1
2.47 Crore      1
3.7 Crore       1
18.4 Crore      1
4.4 Crore       1
7.3 Crore       1
7.6 Crore       1
2.65 Crore      1
99 Lac          1
11.29 Crore     1
1.27 Crore      1
11.58 Crore     1
8.48 Crore      1
8.2 Crore       1
4.31 Crore      1
3.49 Crore      1
2.99 Crore      1
9.19 Crore      1
1.64 Crore      1
9.35 Crore      1
4.05 Crore      1
8.75 Crore      1
5.51 Crore      1
23 Crore        1
2.45 Crore      1
7.85 Crore      1
25 Crore        1
10.8 Crore      1
31.5 Crore      1
4.1 Crore       1
7.65 Crore      1
6.46 Crore      1
6.44 Crore      1
7.8 Crore       1
3.8 Crore       1
7.45 Crore      1
7.42 Crore      1
6.09 Crore      1
2.98 Crore      1
Name: count, dtype: int64

In [171]:
df['price'] = df['price'][df['price'] != 'Price on Request']

In [120]:
df.head(2)

,property_name,society,price,rate,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026 entries, 0 to 1090
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1026 non-null   object
 1   society          1026 non-null   object
 2   price            944 non-null    object
 3   rate             987 non-null    object
 4   price_per_sqft   1026 non-null   object
 5   areaWithType     973 non-null    object
 6   bedRoom          973 non-null    object
 7   bathroom         973 non-null    object
 8   balcony          973 non-null    object
 9   additionalRoom   578 non-null    object
 10  address          1017 non-null   object
 11  noOfFloor        954 non-null    object
 12  facing           662 non-null    object
 13  agePossession    973 non-null    object
 14  nearbyLocations  900 non-null    object
 15  description      1022 non-null   object
 16  furnishDetails   731 non-null    object
 17  features         662 non-null    object
 18  rating           894 non-null    object
dtypes: object(19)
memory usage: 160.3+ KB

In [125]:
df['price'].isna().sum()

np.int64(82)

# Now convert all price into 'Crore' scale

In [172]:
def price(x):
    if isinstance(x, float) or pd.isna(x):
        return x
    parts = x.split(' ')
    if len(parts) < 2:
        return np.nan  # or handle it differently
    if parts[1] == 'Lac':
        return round(float(parts[0]) / 100, 2)
    else:
        return round(float(parts[0]), 2)

df['price'] = df['price'].apply(price)

In [173]:
df.head(2)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [174]:
df['price_per_sqft'] = df['price_per_sqft'].str.split('/').str.get(0).str.replace('₹','').str.replace(',','').str.strip().astype('float')

In [175]:
df['price_per_sqft']

0        20115.0
1       105751.0
2        38251.0
3        43066.0
4        53763.0
5        39062.0
6        37037.0
7        48889.0
8        38150.0
9        10077.0
10       32963.0
11       27778.0
12       34083.0
13       33200.0
14       30556.0
15       14914.0
16       29861.0
17       23333.0
18       41762.0
19       15451.0
20       12938.0
21       38095.0
22       25926.0
23       26235.0
24       38760.0
25       25926.0
26        9374.0
27       13410.0
28       21124.0
29       32593.0
30       24170.0
31       37037.0
32       28490.0
33      122222.0
34       13542.0
35       19097.0
36       48148.0
37       22222.0
38       22222.0
39       33333.0
40       32222.0
41        7290.0
42       27741.0
43       50000.0
44       43534.0
45       45889.0
46       34722.0
47           NaN
48       20690.0
49       29716.0
50       16378.0
51       17284.0
52       37777.0
53       12519.0
54       25562.0
55       27971.0
56       21000.0
57       24500.0
58        7058.0
59        7058.0
73       11250.0
74       23333.0
75       13622.0
76       13909.0
77       20000.0
78       35400.0
79       16058.0
80       16058.0
81       13623.0
82       13910.0
83       13910.0
84       12027.0
85       15700.0
86       19708.0
87       16039.0
88       13331.0
89       11100.0
90       11100.0
91       11100.0
92       40135.0
93       16244.0
94       19708.0
95       16039.0
96       11100.0
97       11100.0
98       16999.0
99       10714.0
100      12027.0
101          NaN
102          NaN
103      21605.0
104      10463.0
105      18750.0
106      19000.0
107      27793.0
108      22006.0
109      19000.0
110      13333.0
111      22222.0
112      28760.0
113      16975.0
114      41615.0
115      16058.0
116      15700.0
117          NaN
118          NaN
119      14444.0
120      10101.0
121      38703.0
122      22222.0
123      12828.0
124      12842.0
125      23148.0
126       8557.0
127      16428.0
128          NaN
129      10556.0
130      13519.0
131      42032.0
132      24069.0
133      21605.0
134      13889.0
135      14650.0
136      13889.0
137      13778.0
138      15625.0
139      23333.0
140      21250.0
141      38667.0
142      26667.0
143      12593.0
144      26389.0
145      12963.0
146      25514.0
147      24845.0
148      17650.0
149      24280.0
150      26423.0
151       6666.0
152       8916.0
153      36667.0
154       9000.0
155      20000.0
156       9028.0
157       4074.0
158        630.0
159      86567.0
160      92857.0
161     100000.0
162      88157.0
163      29974.0
164      24691.0
165       2778.0
166      46906.0
167      25000.0
168      23699.0
169      25960.0
170      28424.0
171      33333.0
172       4490.0
173      14729.0
174      25111.0
175      25000.0
176       7309.0
177      10556.0
200      74074.0
201      12000.0
202      10233.0
203      26852.0
204       8878.0
205      14286.0
206       8928.0
207       8007.0
208      11111.0
209       5698.0
210      28283.0
211      24214.0
212      26613.0
213     138888.0
214      10000.0
215       7666.0
216       7407.0
217       8333.0
218       4666.0
219      13333.0
220      60000.0
221      11111.0
222       7778.0
223      40775.0
224      99173.0
225      12222.0
226       6172.0
227      22222.0
228       9111.0
229      80357.0
230       4117.0
231       7308.0
232       8701.0
233       8000.0
234      25926.0
235       6666.0
236       2296.0
237       8888.0
238      33333.0
239      12444.0
240       9793.0
241       6250.0
242       8486.0
243      11717.0
244       7589.0
245      13333.0
246      12592.0
247      15384.0
248       7843.0
249      22222.0
250      23333.0
251      29336.0
252      10288.0
253      11284.0
254      11029.0
255      10277.0
256       6944.0
257       8518.0
258      10555.0
259      11250.0
260        557.0
261       8888.0
262      11852.0
263       8947.0
264      39265.0
265       6083.0
266     230547.0
267       8411.0
268      32291.0
269      41666.0
270       8889.0
271       7280.0
272      90000.0
273      10089.0
274       8697.0
275       8500.0
276       9333.0
277       8235.0
278      13333.0
279      21667.0
280      20425.0
281       5472.0
282       6944.0
283      57692.0
284      60000.0
285          NaN
286       3857.0
287      21759.0
288       8333.0
289       7407.0
290      75000.0
291      10482.0
292      25386.0
293       8735.0
294       9444.0
295          NaN
296          NaN
297      20000.0
298      18667.0
299      18889.0
300       2525.0
301      24306.0
302      17695.0
303      21519.0
304      17817.0
305          2.0
306       6173.0
307      55000.0
308          NaN
309      13888.0
310      20323.0
311      20359.0
312          NaN
313          NaN
314       5833.0
315      11693.0
316      26667.0
317      53125.0
318      17900.0
319          NaN
320      39886.0
321     126865.0
322      40909.0
323      27155.0
324      14492.0
325          NaN
326          NaN
327      13622.0
328      14045.0
329      10783.0
330      10804.0
331      10783.0
332      14167.0
333      11111.0
334          NaN
335      13157.0
336       5888.0
337      11111.0
338       7875.0
339       9654.0
340       4808.0
341       8222.0
342      11111.0
343       3857.0
344      50000.0
345      11273.0
346       8000.0
347       7627.0
348       5666.0
349       5000.0
350       5000.0
351       6567.0
352      22068.0
370      12444.0
371      25000.0
372       6944.0
373          NaN
374      11111.0
375      28674.0
376       9725.0
377      21111.0
378       7500.0
379      10784.0
380      12162.0
381       8910.0
382      10518.0
383      19869.0
384       8796.0
385       9722.0
386       7522.0
387       5658.0
388       5000.0
389      24545.0
390       7701.0
391       8235.0
392      14072.0
393      26000.0
394      24305.0
395      19286.0
396      22634.0
397      26570.0
398      11111.0
399       6410.0
400     133079.0
401      15257.0
402          NaN
403       5778.0
404       6111.0
405      15625.0
406      78125.0
407      17955.0
408       7916.0
409     211111.0
410      80000.0
411      35000.0
412      10000.0
413     120000.0
414      22297.0
415     125000.0
416       8889.0
417      73333.0
418          NaN
419      11111.0
420      26235.0
421       6790.0
422      20833.0
423     315789.0
424      10224.0
425       3500.0
426       3285.0
427      74000.0
428      27139.0
429      10000.0
430       5555.0
431          NaN
432      23662.0
433      17574.0
434      13333.0
435      10753.0
436       9091.0
437      23557.0
438      59259.0
439     105263.0
440      21195.0
441        151.0
442      25103.0
443      13889.0
444      14954.0
445      23333.0
446       8784.0
447       6500.0
448      35494.0
449      11464.0
450      11718.0
451      11555.0
452      50000.0
453       3874.0
454       7576.0
455      11556.0
456      10753.0
457      20635.0
458      10378.0
459      11888.0
460      17284.0
461      32258.0
462      11111.0
463      12222.0
464      16389.0
465      31506.0
466       9722.0
467      12820.0
468     229885.0
469      10000.0
470       8889.0
471      12400.0
472       9259.0
473        232.0
474      15257.0
475     218750.0
476      54794.0
477      14245.0
478       6367.0
479      37313.0
480      90909.0
481       9444.0
482       5000.0
483          NaN
484      10122.0
485      10000.0
486       8642.0
487       6481.0
488       6707.0
489     245398.0
490       9259.0
491          NaN
492      11904.0
493       9135.0
494          NaN
495       7111.0
496       8012.0
497     183333.0
498      12500.0
499      10142.0
500       8444.0
501       8125.0
502      14583.0
503      17037.0
504      11538.0
505       8730.0
506      12222.0
507      14444.0
508      11574.0
509          NaN
510      26667.0
511      11111.0
512       8230.0
513      13095.0
514      30556.0
515      11852.0
516      10000.0
517      29311.0
518      11250.0
519      30384.0
520       8444.0
521      19818.0
522       1992.0
523       7619.0
524      98214.0
525      13499.0
526       7820.0
527       5555.0
528       4000.0
529      14720.0
530       5664.0
531      19753.0
532      76000.0
533      37037.0
534      63492.0
535       9000.0
536       4444.0
537       2500.0
538       6667.0
539       3704.0
540      12777.0
541       6648.0
542      11407.0
543      20233.0
544      17778.0
545      20062.0
546      11494.0
547      25543.0
548      12343.0
549      16892.0
550       8000.0
551      17500.0
552       3904.0
553      14323.0
554       4222.0
555     181818.0
556      75000.0
557      26620.0
558       5555.0
559      10000.0
560       9722.0
561       9500.0
562      17937.0
563       3254.0
564       5333.0
565      30556.0
566       4583.0
567      12500.0
568      21875.0
569          NaN
570      16667.0
571       7075.0
572       8078.0
573       4251.0
574      17584.0
575       5397.0
576       9074.0
577       5583.0
578       3519.0
579      11194.0
580     100000.0
581       6981.0
582       6702.0
583       9444.0
584      10556.0
585      18333.0
586       4877.0
587       7479.0
588       7400.0
589      16003.0
590       8000.0
591       9444.0
592       9103.0
593       7727.0
594      45710.0
595          NaN
596       8702.0
597       5950.0
598       3500.0
599       9722.0
600       8889.0
601      26973.0
602      32407.0
603      13750.0
604       6000.0
605      14890.0
606       9210.0
607       6800.0
608      10518.0
609       7333.0
610       8101.0
611       6944.0
612      14184.0
613       4260.0
614      10582.0
615       9390.0
616      84000.0
617       6938.0
618      15555.0
619      33333.0
620       7539.0
621      10000.0
622      10067.0
623       1649.0
624      10000.0
625      10000.0
626      13000.0
627      28898.0
628      28200.0
629       7168.0
630      20444.0
631          NaN
632      35185.0
633       6289.0
634      17857.0
635       7000.0
636      14166.0
637      30968.0
638       7777.0
639      18658.0
640      10484.0
641     160000.0
642       8127.0
643       5000.0
644       8000.0
645       7555.0
646      49500.0
647       8889.0
648      13030.0
649     308333.0
650       8333.0
651      10610.0
652      18889.0
653       7302.0
654       8155.0
655      10591.0
656      24074.0
657      14815.0
658       5160.0
659     144444.0
660       9615.0
661       9444.0
662      10101.0
663      22222.0
664      32407.0
665       6813.0
666      15046.0
667      11583.0
668          NaN
669       6034.0
670      10085.0
671      17778.0
672      40611.0
673      29630.0
674      29629.0
675      10740.0
676       4444.0
677      17980.0
678      55000.0
679      19737.0
680       5093.0
681      25463.0
682      12000.0
683       7007.0
684       8920.0
685      35294.0
686      12963.0
687       8254.0
688       5128.0
689       5777.0
690      15926.0
691      11111.0
692      14285.0
693      34307.0
694      51864.0
695      44265.0
696      29444.0
697      39074.0
698      38734.0
699      23442.0
700      41833.0
701      27778.0
702     600000.0
703      23889.0
704      25000.0
705      10260.0
706      31915.0
707      11102.0
708       8866.0
709      36911.0
710      36111.0
711      15444.0
712      11240.0
713      15437.0
714      14351.0
715      27191.0
716     241666.0
717      32963.0
718      33592.0
719      24455.0
720      26667.0
721      26389.0
722     194444.0
723      18444.0
724      11600.0
725      38095.0
726      13492.0
727      33951.0
728      11157.0
729       8444.0
730      21495.0
731      42054.0
732       1560.0
733      20741.0
734      13178.0
735      12000.0
736      26428.0
737      82540.0
738      18888.0
739      31481.0
740      13501.0
741      20988.0
742     400000.0
743      21296.0
744      34722.0
745      18626.0
746      24366.0
747      26298.0
748       7500.0
749      24171.0
750      23000.0
751      29697.0
752      33333.0
753      36111.0
754       6778.0
755      22812.0
756     261194.0
757     178571.0
758      27461.0
759      31686.0
760      22222.0
761      23061.0
762      32222.0
763      17662.0
764      39841.0
765      37627.0
766      23148.0
767      29880.0
768      20068.0
769      16569.0
770      21242.0
771      11574.0
772      32562.0
773      13000.0
774      22429.0
775      39530.0
776      22222.0
777      38889.0
778          NaN
779      57206.0
780      27222.0
781      63554.0
782      10601.0
783      20940.0
784      32253.0
785      37037.0
786          NaN
787      23704.0
788      23693.0
789      15989.0
790      19268.0
791      19360.0
792      45833.0
793      29880.0
794      23437.0
795       2716.0
796      39841.0
797      32222.0
798      40850.0
799      12342.0
800      15555.0
801      26111.0
802      31790.0
803      24691.0
804     235376.0
805      29293.0
806      16004.0
807      27333.0
808      17624.0
809      38580.0
810      27778.0
811      35556.0
812      38580.0
813      35000.0
814      30864.0
815          NaN
816     161849.0
817      27778.0
818      16056.0
819      17707.0
832       7718.0
833      25535.0
834       1859.0
835      17037.0
836      10579.0
837      42194.0
838      15625.0
839      15278.0
840     201388.0
841      17187.0
842          NaN
843      44444.0
844      18928.0
845      10926.0
846      19608.0
847       8089.0
848       6849.0
849      24691.0
850          NaN
851      19607.0
852      40000.0
853      34846.0
854      31444.0
855      26235.0
856      22222.0
857      23457.0
858      27083.0
859      43210.0
860      31926.0
861      38611.0
862      27911.0
863      29022.0
864      12837.0
865      12198.0
866      35741.0
867          NaN
868      16666.0
869      35556.0
870       9634.0
872      31481.0
873       7827.0
874      38760.0
875      23556.0
876      10035.0
877      28841.0
878      26615.0
879      24155.0
880      14815.0
881      22222.0
882      62222.0
883       6597.0
884       7870.0
885      26852.0
886      28233.0
887      15111.0
888      34722.0
889      19820.0
890       1087.0
891          NaN
892      31481.0
893      26235.0
894      19645.0
895      36883.0
896      37037.0
897      27871.0
898      35109.0
899      17692.0
900      38022.0
901      33333.0
902      25309.0
903      16990.0
904      14222.0
905      22222.0
906      16388.0
907      22075.0
908      11666.0
909      47167.0
910       7937.0
911      20197.0
912      20635.0
913      34037.0
914      10123.0
915      28858.0
916      28549.0
917      15555.0
918      13513.0
919      20769.0
920      34568.0
921      21097.0
922      33951.0
923      24306.0
924      25556.0
925      36111.0
926       7756.0
927      21825.0
928      12342.0
929      16577.0
930      17706.0
931      29074.0
932      29880.0
933      42222.0
934      38194.0
935      21605.0
936      38194.0
937      37778.0
938      31111.0
939      17213.0
940      18620.0
941      17014.0
942       7750.0
943       7172.0
944      29638.0
945      33333.0
946       8137.0
947       7582.0
948      48148.0
949      18605.0
950      16066.0
951      55556.0
952      38986.0
953      24510.0
954      11428.0
955      22184.0
956      30247.0
957      20370.0
958      31666.0
959      18889.0
960     283333.0
961      31481.0
962      42222.0
963      59259.0
964      45833.0
965      18008.0
966      26235.0
967          NaN
968      33333.0
969      12285.0
970      19293.0
971      20599.0
972     173992.0
973      21367.0
974      20299.0
975      41818.0
976       9634.0
977      19231.0
978      20833.0
979      33333.0
980       6875.0
981      14667.0
982      14787.0
983      16319.0
984      18250.0
985      27390.0
986      30728.0
987      35000.0
988      30556.0
989      41315.0
990       3786.0
991      60000.0
992      24691.0
993       9349.0
994      23504.0
995      21605.0
996     234375.0
997      26235.0
998      21786.0
999      35000.0
1000      8235.0
1001     15432.0
1002     37627.0
1003     21251.0
1004     30556.0
1005     27160.0
1006     35530.0
1007     22046.0
1008     22222.0
1009     33333.0
1010     27132.0
1011     22855.0
1012     40741.0
1013     34722.0
1014     29333.0
1015     32328.0
1016    290948.0
1017     25562.0
1018     12393.0
1019     22331.0
1020     20317.0
1021     18088.0
1022     21759.0
1023     16600.0
1024     21219.0
1025     19125.0
1026     18885.0
1027     15000.0
1028     37037.0
1029     18814.0
1030     32328.0
1031     23457.0
1032     16975.0
1033     18889.0
1034     14000.0
1035     32407.0
1036    266666.0
1037     26502.0
1038     23148.0
1039     32407.0
1040     33951.0
1041     18808.0
1042     31481.0
1043     10838.0
1044     19847.0
1045     23148.0
1046     12037.0
1047     17820.0
1048     24390.0
1049     35185.0
1050         NaN
1051     26063.0
1052     79365.0
1053     23932.0
1054     24573.0
1055     24005.0
1056     32870.0
1057     33404.0
1058     23240.0
1059     29630.0
1060     16071.0
1061     51440.0
1062     26667.0
1063     28782.0
1064     34491.0
1065     34351.0
1066     47803.0
1067      6230.0
1068     33665.0
1069     44444.0
1070         NaN
1071         NaN
1072     20566.0
1073     22222.0
1074     26667.0
1075     20349.0
1076     23148.0
1077     21124.0
1078     24202.0
1079     24155.0
1080     23870.0
1081     24500.0
1082     24845.0
1083     20026.0
1084     28787.0
1085     12551.0
1086     30556.0
1087     31481.0
1088     33333.0
1089     33129.0
1090     14815.0
Name: price_per_sqft, dtype: float64

In [182]:
df.head(
    2
)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [183]:
df['bedRoom'].value_counts()

bedRoom
4 Bedrooms     232
5 Bedrooms     196
3 Bedrooms     149
2 Bedrooms      91
6 Bedrooms      81
9 Bedrooms      45
1 Bedroom       38
8 Bedrooms      33
7 Bedrooms      32
12 Bedrooms     28
10 Bedrooms     21
16 Bedrooms     12
13 Bedrooms      4
11 Bedrooms      2
19 Bedrooms      2
18 Bedrooms      2
21 Bedrooms      1
20 Bedrooms      1
36 Bedrooms      1
34 Bedrooms      1
14 Bedrooms      1
Name: count, dtype: int64

In [186]:
df[df['bedRoom'].isna()]

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
75,5 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,NaN,13622.0,(467-681 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",International city by sobha phase 2 in sector-...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
76,4 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,NaN,13909.0,(384-392 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",International city by sobha phase 2 in sector-...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
79,5 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,NaN,16058.0,(606-754 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
80,4 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,NaN,16058.0,(521 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
81,5 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,NaN,13623.0,(467-681 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",International city by sobha phase 2 in sector-...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
82,4 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,NaN,13910.0,(294-418 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",International city by sobha phase 2 in sector-...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
83,3 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,NaN,13910.0,(293 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",International city by sobha phase 2 in sector-...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
84,4 Bedroom House for sale in Sector 112 Gurgaon,experion windchants,NaN,12027.0,(590-687 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 112 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","Experion windchants in sector 112, gurgaon by ...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
85,4 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,NaN,15700.0,(521 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
86,5 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,NaN,19708.0,(606 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
87,4 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,NaN,16039.0,(521 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
88,3 Bedroom House for sale in Sector 73 Gurgaon,dlf alameda,NaN,13331.0,(543 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 73 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Raheja Mall', 'Captain Chandan Lal Marg', 'B...","Dlf alameda in sector-73 gurgaon, gurgaon by d...",NaN,NaN,NaN
89,5 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 1,NaN,11100.0,(468-681 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka sector 21 metro station', 'Pacific D2...","With just 6 villas per acre, international cit...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
90,4 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 1,NaN,11100.0,(292-358 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka sector 21 metro station', 'Pacific D2...","With just 6 villas per acre, international cit...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
91,3 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 1,NaN,11100.0,(293 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka sector 21 metro station', 'Pacific D2...","With just 6 villas per acre, international cit...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
94,5 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,NaN,19708.0,(606 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
95,4 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,NaN,16039.0,(521 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
96,4 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 1,NaN,11100.0,(325 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka sector 21 metro station', 'Pacific D2...","With just 6 villas per acre, international cit...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
97,3 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 1,NaN,11100.0,(293 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka sector 21 metro station', 'Pacific D2...","With just 6 villas per acre, international cit...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
98,4 Bedroom House for sale in Sector 23 Gurgaon,all punjabi welfare association,NaN,16999.0,(139-279 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 23 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['HUDA Sector 23 Market', 'Palam triangle', 'R...",All punjabi welfare association in sector-23 g...,NaN,NaN,"['Environment4 out of 5', 'Lifestyle5 out of 5..."
99,4 Bedroom House for sale in Sector 72 Gurgaon,tata primanti,NaN,10714.0,(650-790 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 72 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Metro Station', 'Omaxe City Cen...","Tata primanti in sector-72, gurgaon by tata ho...",NaN,NaN,"['Environment4.5 out of 5', 'Lifestyle4.5 out ..."
100,4 Bedroom House for sale in Sector 112 Gurgaon,experion windchants,NaN,12027.0,(590-687 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 112 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","Experion windchants in sector 112, gurgaon by ...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
101,5 Bedroom House for sale in Sector 63A Gurgaon,aindependentt raj estates,NaN,NaN,(251-704 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 63A Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Metro Station', 'Paras Trinity ...","Anant raj estates in sector-63a gurgaon, gurga...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
102,3 Bedroom House for sale in Sector 63A Gurgaon,aindependentt raj estates,NaN,NaN,(211 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 63A Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Metro Station', 'Paras Trinity ...","Anant raj estates in sector-63a gurgaon, gurga...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
105,4 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,NaN,18750.0,(372-441 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Athena', 'Star Mall', 'The Sixth Element Sch...","Vipul tatvam villa in sector-48 gurgaon, gurga...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
106,3 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,NaN,19000.0,(279 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Athena', 'Star Mall', 'The Sixth Element Sch...","Vipul tatvam villa in sector-48 gurgaon, gurga...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
107,5 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,NaN,27793.0,(571-711 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Athena', 'Star Mall', 'The Sixth Element Sch...","Vipul tatvam villa in sector-48 gurgaon, gurga...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
108,4 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,NaN,22006.0,(372-441 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Athena', 'Star Mall', 'The Sixth Element Sch...","Vipul tatvam villa in sector-48 gurgaon, gurga...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
109,3 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,NaN,19000.0,(279 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Athena', 'Star Mall', 'The Sixth Element Sch...","Vipul tatvam villa in sector-48 gurgaon, gurga...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
110,3 Bedroom House for sale in Sector 73 Gurgaon,dlf alameda,NaN,13333.0,(543 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 73 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Raheja Mall', 'Captain Chandan Lal Marg', 'B...","Dlf alameda in sector-73 gurgaon, gurgaon by d...",NaN,NaN,NaN
111,5 Bedroom House for sale in Sector 48 Gurgaon,eldeco mansionz,NaN,22222.0,(293-381 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...","Eldeco mansionz in sector-48 gurgaon, gurgaon ...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
112,4 Bedroom House for sale in Sector 48 Gurgaon,eldeco mansionz,NaN,28760.0,(207 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...","Eldeco mansionz in sector-48 gurgaon, gurgaon ...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
113,3 Bedroom House for sale in Sector 48 Gurgaon,eldeco mansionz,NaN,16975.0,(301 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 48 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...","Eldeco mansionz in sector-48 gurgaon, gurgaon ...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
115,5 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,NaN,16058.0,(606-754 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
116,4 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,NaN,15700.0,(521 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf marbella in sector-66, gurgaon by em...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
117,4 Bedroom House for sale in Sector 65 Gurgaon,emaar emerald hills,NaN,NaN,(183 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 65 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Emerald Plaza Shopping Mall', 'Southern Peri...","Emaar emerald hills in sector-65 gurgaon, gurg...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
118,4 Bedroom House for sale in Sector-33 Sohna,central park flower valley,NaN,NaN,(344 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector-33 Sohna, Gurgaon, Haryana",NaN,NaN,NaN,"['Golf Course Extension Rd', 'Rajiv Chowk - So...","Central park flower valley in sector-33 sohna,...",NaN,NaN,NaN
123,5 Bedroom House for sale in Sector 111 Gurgaon,puri diplomatic greens,NaN,12828.0,(650 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 111 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...","Puri diplomatic greens in sector-111 gurgaon, ...",NaN,NaN,NaN
124,5 Bedroom House for sale in Sector 111 Gurgaon,puri diplomatic greens,NaN,12842.0,(650 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 111 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...","Puri diplomatic greens in sector-111 gurgaon, ...",NaN,NaN,NaN
128,3 Bedroom House for sale in Sector 73 Gurgaon,dlf alameda,NaN,NaN,(543 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 73 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Raheja Mall', 'Captain Chandan Lal Marg', 'B...","Dlf alameda in sector-73 gurgaon, gurgaon by d...",NaN,NaN,NaN
308,5 Bedroom House for sale in Sector 81 Gurgaon,bestech park view aindependentda,NaN,NaN,(509-543 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 81 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Metro Station Kankrola sec 87', 'Sapphire 83...","Bestech park view ananda in sector-81 gurgaon,...",NaN,NaN,"['Environment4.5 out of 5', 'Lifestyle4 out of..."
312,4 Bedroom House for sale in Sector-33 Sohna,central park flower valley,NaN,NaN,(344 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector-33 Sohna, Gurgaon, Haryana",NaN,NaN,NaN,"['Golf Course Extension Rd', 'Rajiv Chowk - So...","Central park flower valley in sector-33 sohna,...",NaN,NaN,NaN
313,6 Bedroom House for sale in Sector 70 Gurgaon,tulip ivory,NaN,NaN,(697 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 70 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Reach 3 Roads Shopping Mall', 'Southern Peri...","Tulip ivory in sector-70, gurgaon by tulip inf...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
319,3 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf the palm drive,NaN,NaN,(353 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf the palm drive in sector-66, gurgaon...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
327,5 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,NaN,13622.0,(540 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",International city by sobha phase 2 in sector-...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
328,4 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,NaN,14045.0,(363 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",International city by sobha phase 2 in sector-...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
329,5 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 1,NaN,10783.0,(468-681 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka sector 21 metro station', 'Pacific D2...","With just 6 villas per acre, international cit...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
330,4 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 1,NaN,10804.0,(292-358 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka sector 21 metro station', 'Pacific D2...","With just 6 villas per acre, international cit...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
331,3 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 1,NaN,10783.0,(293 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,"Sector 109 Gurgaon, Gurgaon, Haryana",NaN,NaN,NaN,"['Dwarka sector 21 metro station', 'Pacific D2...","With just 6 villas per acre, international cit...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
371,2 Bedroom House for sale in Sector 5 Gurgaon,independent,NaN,25000.0,(93 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,4 Bedroom House for sale in Sohna,independent,NaN,6944.0,(167 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,4 Bedroom House for sale in Sector 52 Gurgaon,independent,NaN,NaN,(201 sq.m.) Built-up Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,6 Bedroom House for sale in Sector 22 Gurgaon,saksham welfare association,NaN,19645.0,(220 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
df = df[~df['bedRoom'].isnull()]

In [189]:
df['bedRoom'] = df['bedRoom'].str.split(' ').str.get(0).astype('int')

In [190]:
df['bathroom'].value_counts()

bathroom
4 Bathrooms     229
3 Bathrooms     165
5 Bathrooms     137
2 Bathrooms     118
6 Bathrooms      83
1 Bathroom       67
9 Bathrooms      42
7 Bathrooms      39
8 Bathrooms      29
12 Bathrooms     22
10 Bathrooms     11
16 Bathrooms      8
13 Bathrooms      4
18 Bathrooms      4
11 Bathrooms      4
17 Bathrooms      3
20 Bathrooms      3
14 Bathrooms      2
21 Bathrooms      1
34 Bathrooms      1
36 Bathrooms      1
Name: count, dtype: int64

In [191]:
df[df['bathroom'].isna()]

Empty DataFrame
Columns: [property_name, society, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, noOfFloor, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

In [192]:
df['bathroom'] = df['bathroom'].str.split(' ').str.get(0).astype('int')

In [180]:
df['balcony'] = df['balcony'].str.split(' ').str.get(0).str.replace('No','0')

In [54]:
df.head(2)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2,1,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2,1,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [193]:
df['additionalRoom'].value_counts()

additionalRoom
Servant Room                                     81
Pooja Room,Study Room,Servant Room,Store Room    60
Others                                           58
Pooja Room                                       38
Pooja Room,Study Room,Servant Room               33
Pooja Room,Study Room,Servant Room,Others        32
Store Room                                       31
Pooja Room,Servant Room                          24
Study Room                                       19
Study Room,Servant Room                          19
Servant Room,Store Room                          15
Pooja Room,Study Room                            11
Pooja Room,Others                                11
Pooja Room,Store Room                            11
Servant Room,Others                               8
Pooja Room,Store Room,Study Room,Servant Room     8
Servant Room,Pooja Room                           8
Pooja Room,Servant Room,Store Room                7
Servant Room,Pooja Room,Store Room                6
Store Room,Servant Room                           6
Study Room,Servant Room,Pooja Room,Store Room     6
Study Room,Pooja Room,Servant Room                5
Pooja Room,Servant Room,Others                    5
Servant Room,Study Room                           5
Servant Room,Study Room,Pooja Room,Store Room     5
Study Room,Servant Room,Store Room                4
Store Room,Pooja Room                             4
Pooja Room,Servant Room,Study Room,Store Room     4
Study Room,Servant Room,Store Room,Pooja Room     4
Servant Room,Store Room,Pooja Room                4
Pooja Room,Study Room,Others                      4
Pooja Room,Study Room,Store Room                  3
Study Room,Others                                 3
Study Room,Servant Room,Pooja Room                3
Study Room,Pooja Room,Servant Room,Store Room     3
Store Room,Pooja Room,Servant Room                2
Pooja Room,Study Room,Store Room,Servant Room     2
Study Room,Pooja Room,Store Room                  2
Store Room,Pooja Room,Study Room                  2
Servant Room,Study Room,Pooja Room                2
Study Room,Pooja Room,Store Room,Servant Room     2
Study Room,Pooja Room                             2
Study Room,Servant Room,Others                    2
Store Room,Pooja Room,Study Room,Servant Room     2
Servant Room,Study Room,Store Room,Pooja Room     1
Study Room,Store Room                             1
Study Room,Store Room,Pooja Room                  1
Store Room,Pooja Room,Servant Room,Study Room     1
Servant Room,Store Room,Study Room,Pooja Room     1
Store Room,Servant Room,Study Room,Pooja Room     1
Pooja Room,Store Room,Servant Room                1
Servant Room,Others,Pooja Room                    1
Study Room,Store Room,Servant Room,Pooja Room     1
Store Room,Study Room,Servant Room                1
Store Room,Servant Room,Pooja Room                1
Study Room,Others,Servant Room                    1
Name: count, dtype: int64

In [194]:
df['additionalRoom'].isna().sum()

np.int64(395)

In [196]:
df['additionalRoom'].fillna('not available',inplace=True)

In [197]:
df['additionalRoom'] = df['additionalRoom'].str.lower()

In [199]:
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,38251.0,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10,10,3+,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5.00,43066.0,(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21,21,3+,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3.00,53763.0,(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12,12,3+,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [200]:
df['noOfFloor']

0        3 Floors
1        2 Floors
2        5 Floors
3        5 Floors
4        5 Floors
5        4 Floors
6        3 Floors
7        4 Floors
8        3 Floors
9        4 Floors
10       2 Floors
11       3 Floors
12       4 Floors
13       3 Floors
14       3 Floors
15       3 Floors
16       3 Floors
17       3 Floors
18       3 Floors
19       3 Floors
20       3 Floors
21       3 Floors
22       2 Floors
23            NaN
24       4 Floors
25       3 Floors
26       1 Floors
27       3 Floors
28       3 Floors
29       3 Floors
30       2 Floors
31       3 Floors
32       3 Floors
33       1 Floors
34       2 Floors
35       3 Floors
36       4 Floors
37       1 Floors
38       3 Floors
39       3 Floors
40       2 Floors
41       1 Floors
42       4 Floors
43       4 Floors
44       4 Floors
45       4 Floors
46       2 Floors
47       3 Floors
48       3 Floors
49       2 Floors
50       2 Floors
51            NaN
52       3 Floors
53       2 Floors
54       3 Floors
55       2 Floors
56       2 Floors
57       2 Floors
58       3 Floors
59       3 Floors
73       3 Floors
74       3 Floors
77       1 Floors
78       3 Floors
92       4 Floors
93       2 Floors
103      2 Floors
104      2 Floors
114      3 Floors
119      2 Floors
120      1 Floors
121      3 Floors
122      2 Floors
125      2 Floors
126      1 Floors
127      3 Floors
129      3 Floors
130      1 Floors
131      4 Floors
132      2 Floors
133      1 Floors
134      1 Floors
135      3 Floors
136      2 Floors
137      2 Floors
138      2 Floors
139      3 Floors
140      2 Floors
141      3 Floors
142      3 Floors
143      2 Floors
144      3 Floors
145      2 Floors
146      2 Floors
147      3 Floors
148      2 Floors
149      2 Floors
150      2 Floors
151      2 Floors
152      3 Floors
153      2 Floors
154      2 Floors
155      2 Floors
156      1 Floors
157      2 Floors
158      1 Floors
159      2 Floors
160      1 Floors
161      2 Floors
162      2 Floors
163      2 Floors
164      2 Floors
165      3 Floors
166      4 Floors
167      4 Floors
168      2 Floors
169      4 Floors
170      1 Floors
171      2 Floors
172      2 Floors
173      2 Floors
174      4 Floors
175      4 Floors
176      3 Floors
177      4 Floors
200      3 Floors
201      3 Floors
202      2 Floors
203           NaN
204      1 Floors
205      3 Floors
206      1 Floors
207      1 Floors
208      4 Floors
209      2 Floors
210      3 Floors
211      4 Floors
212      2 Floors
213      1 Floors
214      3 Floors
215      3 Floors
216      3 Floors
217      2 Floors
218      1 Floors
219      3 Floors
220     02 Floors
221      3 Floors
222      2 Floors
223      2 Floors
224      2 Floors
225      1 Floors
226      1 Floors
227      1 Floors
228      2 Floors
229      2 Floors
230      2 Floors
231      1 Floors
232      1 Floors
233      1 Floors
234      3 Floors
235      1 Floors
236      1 Floors
237      3 Floors
238      3 Floors
239      1 Floors
240      3 Floors
241     14 Floors
242     21 Floors
243      1 Floors
244      1 Floors
245      2 Floors
246      3 Floors
247      1 Floors
248      1 Floors
249      1 Floors
250      2 Floors
251      0 Floors
252           NaN
253      3 Floors
254      3 Floors
255      3 Floors
256      1 Floors
257      2 Floors
258      3 Floors
259      3 Floors
260      2 Floors
261      1 Floors
262      3 Floors
263      2 Floors
264      3 Floors
265      1 Floors
266      1 Floors
267      1 Floors
268      3 Floors
269      3 Floors
270           NaN
271      3 Floors
272      1 Floors
273      3 Floors
274     12 Floors
275      1 Floors
276      2 Floors
277      2 Floors
278      2 Floors
279      1 Floors
280      3 Floors
281           NaN
282      3 Floors
283      1 Floors
284      3 Floors
285      2 Floors
286      3 Floors
287      2 Floors
288      0 Floors
289      1 Floors
290      1 Floors
291      1 Floors
292      0 Floors
293      3 Floors
294      1 Floors
295      1 Floors
296      2 Floors
297      2 Floors
298      2 Floors
299      1 Floors
300      1 Floors
301      1 Floors
302      2 Floors
303     27 Floors
304      4 Floors
305      3 Floors
306      3 Floors
307      2 Floors
309      1 Floors
310      1 Floors
311      1 Floors
314      1 Floors
315      3 Floors
316      3 Floors
317      4 Floors
318      4 Floors
320      4 Floors
321      1 Floors
322      3 Floors
323      2 Floors
324      3 Floors
325      2 Floors
326      2 Floors
332      4 Floors
333      2 Floors
334      1 Floors
335      2 Floors
336      1 Floors
337      2 Floors
338      2 Floors
339      4 Floors
340      1 Floors
341      1 Floors
342      2 Floors
343      3 Floors
344      1 Floors
345      2 Floors
346      3 Floors
347     13 Floors
348      1 Floors
349      1 Floors
350      1 Floors
351      1 Floors
352      3 Floors
370      4 Floors
374           NaN
375      3 Floors
376      3 Floors
377      3 Floors
378      6 Floors
379      2 Floors
380      4 Floors
381      1 Floors
382      3 Floors
383      1 Floors
384      1 Floors
385      1 Floors
386      1 Floors
387      2 Floors
388      1 Floors
389      3 Floors
390      1 Floors
391      3 Floors
392      1 Floors
393      4 Floors
394      3 Floors
395      1 Floors
396      3 Floors
397           NaN
398      2 Floors
399      2 Floors
400      3 Floors
401      1 Floors
402      4 Floors
403      2 Floors
404      2 Floors
405      1 Floors
406      1 Floors
407      1 Floors
408      1 Floors
409      1 Floors
410      3 Floors
411      3 Floors
412      1 Floors
413      3 Floors
414      4 Floors
415      4 Floors
416      2 Floors
417           NaN
418      1 Floors
419      1 Floors
420      3 Floors
421      2 Floors
422      4 Floors
423      2 Floors
424      2 Floors
425      1 Floors
426      1 Floors
427      1 Floors
428      3 Floors
429      3 Floors
430      1 Floors
431      4 Floors
432      4 Floors
433      1 Floors
434      4 Floors
435      2 Floors
436      2 Floors
437      3 Floors
438      6 Floors
439      2 Floors
440      2 Floors
441      3 Floors
442      2 Floors
443      3 Floors
444      3 Floors
445      4 Floors
446      1 Floors
447      1 Floors
448      1 Floors
449      3 Floors
450      2 Floors
451      2 Floors
452      1 Floors
453      1 Floors
454      1 Floors
455      1 Floors
456      1 Floors
457      2 Floors
458      1 Floors
459      1 Floors
460      3 Floors
461      2 Floors
462      2 Floors
463      1 Floors
464      3 Floors
465      3 Floors
466      2 Floors
467      3 Floors
468      1 Floors
469      1 Floors
470      1 Floors
471      2 Floors
472      3 Floors
473      2 Floors
474      4 Floors
475      3 Floors
476      3 Floors
477      1 Floors
478     10 Floors
479      4 Floors
480      4 Floors
481      1 Floors
482      2 Floors
483      3 Floors
484      2 Floors
485      1 Floors
486      2 Floors
487      1 Floors
488      2 Floors
489      5 Floors
490      1 Floors
491      4 Floors
492      3 Floors
493      2 Floors
494      2 Floors
495      1 Floors
496      1 Floors
497      3 Floors
498      3 Floors
499      2 Floors
500      1 Floors
501     20 Floors
502      3 Floors
503      3 Floors
504      4 Floors
505      3 Floors
506      3 Floors
507      3 Floors
508      2 Floors
509      2 Floors
510      1 Floors
511      2 Floors
512      3 Floors
513      3 Floors
514      2 Floors
515      2 Floors
516      4 Floors
517      2 Floors
518      3 Floors
519      3 Floors
520      1 Floors
521      4 Floors
522      1 Floors
523      1 Floors
524      2 Floors
525      3 Floors
526      1 Floors
527      1 Floors
528      1 Floors
529      1 Floors
530      1 Floors
531      2 Floors
532      1 Floors
533      3 Floors
534      1 Floors
535      3 Floors
536      3 Floors
537      1 Floors
538      1 Floors
539      2 Floors
540      4 Floors
541      1 Floors
542      1 Floors
543      1 Floors
544      4 Floors
545      2 Floors
546      3 Floors
547      4 Floors
548      2 Floors
549      2 Floors
550      1 Floors
551      2 Floors
552      1 Floors
553      1 Floors
554      3 Floors
555      4 Floors
556      3 Floors
557      4 Floors
558      1 Floors
559      4 Floors
560           NaN
561      2 Floors
562      2 Floors
563      0 Floors
564      2 Floors
565      3 Floors
566      2 Floors
567      3 Floors
568      3 Floors
569      2 Floors
570      3 Floors
571      3 Floors
572      1 Floors
573      1 Floors
574      3 Floors
575     14 Floors
576      1 Floors
577      3 Floors
578      3 Floors
579      3 Floors
580      4 Floors
581     14 Floors
582     12 Floors
583      1 Floors
584      4 Floors
585      3 Floors
586      4 Floors
587      1 Floors
588      2 Floors
589      3 Floors
590      1 Floors
591      1 Floors
592      2 Floors
593      4 Floors
594           NaN
595      1 Floors
596      2 Floors
597      3 Floors
598      2 Floors
599      3 Floors
600      2 Floors
601      1 Floors
602      1 Floors
603      1 Floors
604      1 Floors
605      3 Floors
606      1 Floors
607      1 Floors
608      3 Floors
609      1 Floors
610      2 Floors
611      1 Floors
612      2 Floors
613      3 Floors
614      3 Floors
615      3 Floors
616      3 Floors
617      1 Floors
618      1 Floors
619      2 Floors
620      1 Floors
621      3 Floors
622     11 Floors
623      0 Floors
624      3 Floors
625      4 Floors
626      3 Floors
627      3 Floors
628      3 Floors
629      4 Floors
630      1 Floors
631      4 Floors
632      3 Floors
633      1 Floors
634      1 Floors
635      5 Floors
636      4 Floors
637     11 Floors
638      1 Floors
639      2 Floors
640      1 Floors
641     41 Floors
642      1 Floors
643      1 Floors
644      3 Floors
645      1 Floors
646      3 Floors
647      4 Floors
648      1 Floors
649      5 Floors
650      2 Floors
651      2 Floors
652      3 Floors
653      3 Floors
654      2 Floors
655      2 Floors
656      4 Floors
657      3 Floors
658      5 Floors
659      3 Floors
660      1 Floors
661      1 Floors
662      3 Floors
663      2 Floors
664      3 Floors
665      1 Floors
666           NaN
667      3 Floors
668      2 Floors
669      1 Floors
670      2 Floors
671      3 Floors
672      4 Floors
673      4 Floors
674      4 Floors
675      2 Floors
676      2 Floors
677      3 Floors
678      1 Floors
679      2 Floors
680      2 Floors
681      2 Floors
682      2 Floors
683      1 Floors
684      3 Floors
685      4 Floors
686      2 Floors
687      1 Floors
688      2 Floors
689      1 Floors
690      1 Floors
691      3 Floors
692      4 Floors
693      3 Floors
694      4 Floors
695      4 Floors
696      3 Floors
697      3 Floors
698      3 Floors
699      3 Floors
700      3 Floors
701      3 Floors
702      1 Floors
703      3 Floors
704      3 Floors
705      2 Floors
706      3 Floors
707      3 Floors
708      4 Floors
709           NaN
710      3 Floors
711      2 Floors
712      2 Floors
713      4 Floors
714      1 Floors
715      3 Floors
716      4 Floors
717      2 Floors
718      3 Floors
719      3 Floors
720      3 Floors
721      2 Floors
722      3 Floors
723      2 Floors
724      2 Floors
725      4 Floors
726     10 Floors
727      3 Floors
728      4 Floors
729      2 Floors
730      4 Floors
731      2 Floors
732      3 Floors
733      3 Floors
734      3 Floors
735      2 Floors
736      1 Floors
737      4 Floors
738      2 Floors
739      4 Floors
740      2 Floors
741      3 Floors
742      4 Floors
743      2 Floors
744      2 Floors
745      2 Floors
746      3 Floors
747      4 Floors
748      5 Floors
749      4 Floors
750      4 Floors
751      3 Floors
752      3 Floors
753      3 Floors
754      4 Floors
755      2 Floors
756      2 Floors
757      2 Floors
758      4 Floors
759      4 Floors
760     51 Floors
761      3 Floors
762      3 Floors
763      2 Floors
764      3 Floors
765      2 Floors
766      2 Floors
767      2 Floors
768      3 Floors
769      1 Floors
770      3 Floors
771      2 Floors
772      2 Floors
773      4 Floors
774      3 Floors
775      4 Floors
776      3 Floors
777      2 Floors
778      4 Floors
779      2 Floors
780      3 Floors
781      1 Floors
782      2 Floors
783      1 Floors
784      3 Floors
785      3 Floors
786      4 Floors
787      3 Floors
788      3 Floors
789      2 Floors
790      3 Floors
791      2 Floors
792      4 Floors
793      2 Floors
794      2 Floors
795      3 Floors
796      4 Floors
797      2 Floors
798      2 Floors
799      4 Floors
800      3 Floors
801      2 Floors
802      3 Floors
803      2 Floors
804      2 Floors
805      4 Floors
806      2 Floors
807      3 Floors
808      3 Floors
809      2 Floors
810      2 Floors
811      2 Floors
812      2 Floors
813      3 Floors
814      4 Floors
815      2 Floors
816      2 Floors
817      2 Floors
818      4 Floors
819      3 Floors
832           NaN
833      4 Floors
834      4 Floors
835      3 Floors
836      3 Floors
837      4 Floors
838      3 Floors
839      3 Floors
840      2 Floors
841      4 Floors
842      3 Floors
843      3 Floors
844      4 Floors
845      4 Floors
846      3 Floors
847      4 Floors
848      4 Floors
849      3 Floors
850      4 Floors
851      1 Floors
852      3 Floors
853      2 Floors
854      4 Floors
855           NaN
856      2 Floors
857      2 Floors
858      2 Floors
859      4 Floors
860      3 Floors
861      4 Floors
862           NaN
863      3 Floors
864      4 Floors
865           NaN
866      2 Floors
867      2 Floors
868      2 Floors
869      3 Floors
870      2 Floors
872      3 Floors
873      4 Floors
874      4 Floors
875      3 Floors
876      3 Floors
877      3 Floors
878      3 Floors
879      2 Floors
880      2 Floors
881      2 Floors
882      2 Floors
883     16 Floors
884      4 Floors
885      2 Floors
886      3 Floors
887      1 Floors
888      2 Floors
889      2 Floors
890      3 Floors
891      3 Floors
892      3 Floors
893      1 Floors
895      1 Floors
896      1 Floors
897      2 Floors
898      3 Floors
899      3 Floors
900      4 Floors
901      3 Floors
902      2 Floors
903      4 Floors
904      2 Floors
905      3 Floors
906      2 Floors
907      2 Floors
908      4 Floors
909      4 Floors
910      2 Floors
911      3 Floors
912      2 Floors
913      4 Floors
914      4 Floors
915      4 Floors
916      4 Floors
917      2 Floors
918      2 Floors
919      2 Floors
920      2 Floors
921      3 Floors
922      2 Floors
923      3 Floors
924      2 Floors
925      2 Floors
926      3 Floors
927      3 Floors
928      4 Floors
929      4 Floors
930      2 Floors
931      3 Floors
932      2 Floors
933      3 Floors
934      4 Floors
935      3 Floors
936      3 Floors
937      1 Floors
938      2 Floors
939      3 Floors
940      3 Floors
941      2 Floors
942      3 Floors
943      2 Floors
944      3 Floors
945      4 Floors
946      2 Floors
947      3 Floors
948      4 Floors
949      3 Floors
950      3 Floors
951      3 Floors
952      4 Floors
953      3 Floors
954      2 Floors
955      2 Floors
956      2 Floors
957      3 Floors
958      3 Floors
959      3 Floors
960      1 Floors
961      3 Floors
962      2 Floors
963      4 Floors
964      4 Floors
965      3 Floors
966      3 Floors
967      2 Floors
968      4 Floors
969      3 Floors
970      2 Floors
971      2 Floors
972      3 Floors
973      2 Floors
974      2 Floors
975      2 Floors
976      2 Floors
977      2 Floors
978      2 Floors
979      3 Floors
980      6 Floors
981      1 Floors
982      2 Floors
983      2 Floors
984      4 Floors
985      3 Floors
986      3 Floors
987      2 Floors
988      2 Floors
989      4 Floors
990      3 Floors
991      2 Floors
992      2 Floors
993      2 Floors
994      2 Floors
995      2 Floors
996      3 Floors
997      4 Floors
998      4 Floors
999      3 Floors
1000     3 Floors
1001     3 Floors
1002     2 Floors
1003          NaN
1004     4 Floors
1005     3 Floors
1006     2 Floors
1007     2 Floors
1008     2 Floors
1009     2 Floors
1010     2 Floors
1011     2 Floors
1012     2 Floors
1013     2 Floors
1014     2 Floors
1015     3 Floors
1016          NaN
1017     3 Floors
1018     2 Floors
1019     1 Floors
1020     3 Floors
1021     2 Floors
1022     3 Floors
1023     1 Floors
1024     2 Floors
1025     2 Floors
1026     2 Floors
1027     2 Floors
1028     3 Floors
1029     2 Floors
1030     3 Floors
1031     3 Floors
1032     2 Floors
1033     3 Floors
1034    33 Floors
1035     3 Floors
1036     2 Floors
1037     3 Floors
1038     3 Floors
1039     2 Floors
1040     3 Floors
1041     2 Floors
1042     2 Floors
1043     2 Floors
1044     2 Floors
1045     2 Floors
1046     1 Floors
1047     3 Floors
1048     3 Floors
1049     3 Floors
1050     4 Floors
1051     4 Floors
1052     0 Floors
1053     4 Floors
1054     4 Floors
1055     2 Floors
1056     2 Floors
1057     3 Floors
1058     3 Floors
1059     2 Floors
1060     4 Floors
1061     4 Floors
1062     3 Floors
1063     3 Floors
1064     3 Floors
1065     2 Floors
1066     4 Floors
1067     3 Floors
1068     4 Floors
1069     5 Floors
1070     3 Floors
1071     2 Floors
1072     3 Floors
1073     2 Floors
1074     3 Floors
1075     2 Floors
1076     3 Floors
1077     3 Floors
1078     3 Floors
1079     2 Floors
1080     3 Floors
1081     3 Floors
1082     3 Floors
1083     2 Floors
1084     2 Floors
1085     2 Floors
1086     2 Floors
1087     2 Floors
1088     2 Floors
1089     2 Floors
1090     2 Floors
Name: noOfFloor, dtype: object

In [201]:
df['noOfFloor'].isnull().sum()

np.int64(19)

In [203]:
df['noOfFloor'] = df['noOfFloor'].str.split(' ').str.get(0)

In [204]:
df.rename(columns={'noOfFloor':'floorNum'},inplace=True)

In [205]:
df.head(2)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [206]:
df.shape

(973, 19)

In [207]:
df[df['floorNum'].isnull()]

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
23,4 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,8.50,26235.0,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),4,4,2,"pooja room,servant room,store room","Sector 48 Gurgaon, Gurgaon, Haryana",NaN,East,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",Three side open villa in tatvam villa sector-4...,"['1 Chimney', '1 Modular Kitchen', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
51,8 Bedroom House for sale in Palam Vihar,independent,5.60,17284.0,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),8,6,3+,"pooja room,study room,servant room,store room","Palam Vihar, Gurgaon, Haryana",NaN,South-West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",360 sq. Yards plot area near by global foyer m...,"['1 Fan', '1 Dining Table', '1 Light', '1 Modu...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
203,3 Bedroom House for sale in DLF Phase 3,independent,1.45,26852.0,(50 sq.m.) Plot Area,Plot area 60(50.17 sq.m.),3,3,1,not available,"DLF Phase 3, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",Interested to sell independent house/villa.Pla...,NaN,['Private Garden / Terrace'],"['Environment4 out of 5', 'Lifestyle5 out of 5..."
252,3 Bedroom House for sale in Ashok Vihar,independent,1.50,10288.0,(135 sq.m.) Plot Area,Plot area 162(135.45 sq.m.)Built Up area: 210 ...,3,3,0,not available,"800 Lane 8 Ashok Vihar Part 1, Ashok Vihar, Gu...",NaN,NaN,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Ground floor and partial first floor built up,[],NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
270,2 Bedroom House for sale in Laxman Vihar Phase 2,independent,4.12,8889.0,(431 sq.m.) Plot Area,Plot area 515(430.61 sq.m.),2,1,3+,not available,"Laxman Vihar Phase 2, Gurgaon, Haryana",NaN,NaN,5 to 10 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Shre...","Property next to dhanwapur underpass, which is...",[],NaN,NaN
281,3 Bedroom House for sale in New Palam Vihar Ph...,independent,2.50,5472.0,(372 sq.m.) Plot Area,Plot area 4000(371.61 sq.m.),3,2,1,not available,"B-245, New Palam Vihar Phase 2, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",100 mtr from dwarka express way. On 40ft road,NaN,['Park'],NaN
374,4 Bedroom House for sale in Laxman Vihar,independent,0.65,11111.0,(54 sq.m.) Plot Area,Plot area 65(54.35 sq.m.),4,2,2,not available,"Laxman Vihar, Gurgaon, Haryana",NaN,NaN,5 to 10 Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Well maintained two storeyed independent house...,"['1 Wardrobe', '1 Exhaust Fan', '10 Light', '1...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
397,1 Bedroom House for sale in Sushant Lok Phase 1,ansal sushant lok plots,3.30,26570.0,(115 sq.m.) Plot Area,Plot area 138(115.39 sq.m.),1,1,0,not available,"Sushant Lok Phase 1, Gurgaon, Haryana",NaN,NaN,By 2027,"['Iffco chowk metro station', 'Huda city centr...","Close proximity to gold souk , huda city centr...",NaN,NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
417,2 Bedroom House for sale in Bhawani Enclave,independent,1.10,73333.0,(14 sq.m.) Plot Area,Plot area 150(13.94 sq.m.),2,2,1,others,"Bhawani Enclave, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['State bank ATM', 'Shri Multispeciality Hospi...","2 side open, 1 drawing room, 1 shop, 1 small r...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,NaN
560,2 Bedroom House for sale in Jacobpura,jacob pura,0.35,9722.0,(33 sq.m.) Built-up Area,Built Up area: 360 (33.45 sq.m.),2,1,0,not available,"15/3, Jacobpura, Jacobpura, Gurgaon, Haryana",NaN,NaN,10+ Year Old,NaN,Independece house for sale in jacobpura near k...,[],NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
594,6 Bedroom House for sale in DLF Phase 2,independent,13.00,45710.0,(264 sq.m.) Plot Area,Plot area 316(264.22 sq.m.),6,8,3+,"pooja room,servant room,study room,store room","DLF Phase 2, Gurgaon, Haryana",NaN,NaN,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Esic...",An impeccable opportunity is here for those wh...,"['1 Water Purifier', '1 Fridge', '1 Sofa', '1 ...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
666,3 Bedroom House for sale in New Colony,independent,6.50,15046.0,(401 sq.m.) Plot Area,Plot area 480(401.34 sq.m.),3,2,3+,not available,"New Colony, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Geeta Nursing Home Gurgaon', 'Chiranjiv Hosp...",Old construction house in new colony gurgaon.,[],['Private Garden / Terrace'],"['Environment4 out of 5', 'Lifestyle4 out of 5..."
709,12 Bedroom House for sale in Sector 46 Gurgaon,independent,6.81,36911.0,(171 sq.m.) Plot Area,Plot area 205(171.41 sq.m.),12,14,3+,"servant room,others","Sector 46 Gurgaon, Gurgaon, Haryana",NaN,East,0 to 1 Year Old,"['Axis bank ATM', 'State bank of india ATM', '...",204 sqyds newly floor wise building with basem...,"['14 Wardrobe', '15 Fan', '1 Exhaust Fan', '13...","['Feng Shui / Vaastu Compliant', 'Maintenance ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
832,4 Bedroom House for sale in Sector 86 Gurgaon,dlf new town heights,2.47,7718.0,(297 sq.m.) Plot Area,Plot area 3200(297.29 sq.m.)Built Up area: 280...,4,4,3+,"pooja room,servant room","Sector 86 Gurgaon, Gurgaon, Haryana",NaN,West,5 to 10 Year Old,"['City Square', 'Vatika Town Square', 'Bharat ...",This is beautiful 4 bhk villa in dlf new town ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
855,4 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,8.50,26235.0,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),4,4,1,not available,"4 Bed And 4 Bathroom, Sector 48 Gurgaon, Gurga...",NaN,NaN,1 to 5 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",360 sq yard 4 bhk residential villa for sale i...,"['4 Bed', '4 Fan', '1 Exhaust Fan', '4 Light',...","['Maintenance Staff', 'Water Storage', 'Separa...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
862,4 Bedroom House for sale in Sushant Lok Phase 1,ansal sushant lok,10.50,27911.0,(350 sq.m.) Plot Area,Plot area 418(349.5 sq.m.),4,4,2,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",NaN,North-East,10+ Year Old,"['Huda city centre metro station', 'New Life C...",Ansal villa for sale 418 sqyd in d block gated...,"['6 Fan', '6 Light', 'No AC', 'No Bed', 'No Ch...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
865,4 Bedroom House for sale in Sector 26 Gurgaon,independent,4.60,12198.0,(350 sq.m.) Plot Area,Plot area 419(350.34 sq.m.),4,4,3+,not available,"F-5/10, Sector 26 Gurgaon, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...",On the lookout for a spacious house in gurgaon...,[],"['Maintenance Staff', 'Park', 'Visitor Parking...",NaN
1003,4 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,9.00,21251.0,(521 sq.m.) Plot Area,Plot area 5605(520.72 sq.m.)Built Up area: 520...,4,4,3+,"pooja room,servant room,store room","Sector 66 Gurgaon, Gurgaon, Haryana",NaN,South-West,1 to 5 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",A lifestyle designed to satiate all your sense...,"['1 Water Purifier', '6 Fan', '1 Exhaust Fan',...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment3 out of 5', 'Safety4 out of 5', ..."
1016,12 Bedroom House for sale in Uppals Southend,uppal southend,6.75,290948.0,(22 sq.m.) Plot Area,Plot area 232(21.55 sq.m.),12,12,3+,"pooja room,study room,servant room,others","Uppals Southend, Gurgaon, Haryana",NaN,West,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",Address... Uppal southend sector 49 s block si...,"['22 Wardrobe', '24 Fan', '1 Exhaust Fan', '33...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety5 out of 5', ..."

In [208]:

# facing
df['facing'].value_counts()

facing
East          178
North-East    158
North         110
West           75
North-West     44
South-East     39
South          34
South-West     24
Name: count, dtype: int64

In [209]:
df['facing'].isnull().sum()

np.int64(311)

In [210]:
df['facing'].fillna('NA',inplace=True)

<ipython-input-210-e6ba103970bd>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['facing'].fillna('NA',inplace=True)

In [211]:

df['facing'].value_counts()

facing
NA            311
East          178
North-East    158
North         110
West           75
North-West     44
South-East     39
South          34
South-West     24
Name: count, dtype: int64

In [212]:
df['area'] = round((df['price']*10000000)/df['price_per_sqft'])

In [213]:
df.head(2)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751.0,539.0,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2,NA,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 973 entries, 0 to 1090
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    973 non-null    object
 1   society          973 non-null    object
 2   price            944 non-null    float64
 3   price_per_sqft   944 non-null    float64
 4   area             944 non-null    float64
 5   areaWithType     973 non-null    object
 6   bedRoom          973 non-null    int64
 7   bathroom         973 non-null    int64
 8   balcony          973 non-null    object
 9   additionalRoom   973 non-null    object
 10  address          968 non-null    object
 11  floorNum         954 non-null    object
 12  facing           973 non-null    object
 13  agePossession    973 non-null    object
 14  nearbyLocations  851 non-null    object
 15  description      973 non-null    object
 16  furnishDetails   731 non-null    object
 17  features         662 non-null    object
 18  rating           852 non-null    object
dtypes: float64(3), int64(2), object(14)
memory usage: 152.0+ KB

In [216]:
df.insert(loc=1,column='property_type',value='house')

In [218]:
df.shape

(973, 20)

In [217]:
df.to_csv('house_cleaned.csv', index=False)